extends layout

block content
  h1= title
  p Welcome to #{title}

  input(type="text" id="login" placeholder="login")
  input(type="password" id="password" placeholder="Password")

  button.btn-login

  script(src="libs/app.js")


