doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/styles.css')
    script(src='//code.jquery.com/jquery-1.11.3.min.js')
    script(src='/js/scripts.bundle.js')
  body
    block content
